.App{
    overflow:none;
}
/* HistorySection */
#topo1{
    padding: 9%;
    background-color: rgba(247, 234, 112, 0.575);
}

.titulo{
    font-family: fantasy;
    font-size: 50px;
}
.btn{
    font-family: fantasy;
    font-size: 20px;
    font-style: none;
    transition: 50ms;
}
.btn:hover{
    border: solid 2px rgba(216, 95, 14, 0.4);
    border-radius: 10px;
    background-color: rgb(255, 145, 0);
    color: white;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 170%;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: justify;
    line-height: 150%;
}

/* PokedexSection */
section#pokedex{
    border: 2px solid rgb(216, 19, 19);
    background-color: white;
    padding: 5%;
    display: grid;
    grid-template-columns: 40% 50%;   
    column-gap: 10%;
}

section#pokedex img {
    width: 100%;
    height: auto;
}

section#pokedex h2{
    text-align: center;
    font-size: 200%;
    margin-bottom: 10%;
}

section#pokedex .btn{
    float: right;
    font-family: fantasy;
    font-size: 20px;
}
section#pokedex .btn:hover{
    border: solid 3px rgba(47, 47, 48, 0.55);
    background-color: rgb(230, 139, 139);
    color: white;
}

/*NewsSection*/
.New{
    padding: 100px;
}
.Game{
    display: flex;
    flex-direction: column;
    flex: 50;
    margin: 20px;
    border: 3px rgb(92, 107, 241) solid;
    border-radius: 10px;
    overflow: none;  
    background-color: rgb(255, 255, 255);
    
}
.CardN{
    display: flex;
    flex-direction: column;
    flex: 50;
    margin: 20px;
    border: 3px rgb(248, 51, 16) solid;
    border-radius: 10px;
    overflow: none;  
    background-color: rgb(255, 255, 255);

}
 .conteu{
    flex: 1;
    padding: 15px ;
    
    color: rgb(12, 11, 11);   
    font-size: 20px;

}
 .TiT{
    flex: 50;
    margin: 0px;
    border: 3px rgba(209, 177, 177, 0) solid;
    border-radius: 1px;
    overflow: hidden;  
    background-color: rgb(124, 143, 226);
    font-size: 21px;
    
}
img{
    border-radius: 10px;
}
.button{
    font-size: 20px;
    text-align: center;
    font-family:fantasy;
    color: black;
    overflow:none;
    text-decoration: none;
}
button{
    border-radius: 9px;
    padding: 9px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;

    box-shadow: rgba(82, 90, 90, 0.233) 0px 0px 20px;
}
.TN{
    font-size: 50px;
    padding: 20px;
    font-family: monospace;
    text-align: center;
}