.App{
    overflow:none;
}

.btn{
    font-family: fantasy;
    font-size: 20px;
    font-style: none;
    transition: 50ms;
}

.btn:hover{
    border: solid 2px rgba(216, 95, 14, 0.4);
    border-radius: 10px;
    background-color: rgb(255, 145, 0);
    color: white;
}

/* HistorySection */
#historySection{
    padding: 5%;
    background-color: #FFFF66;
}

#historySection section {
    padding: 3%;
    background-color:#FFF4B499;
    border: 2px solid #CCCC00;
    display: flex;
}

#historySection section article {
    display: grid;
    grid-template-rows: 30% 40% 10%;   
    column-gap: 10%;

    margin: 0 5%;
}

#historySection section .title{
    text-align: center;
    font-size: 200%;
    margin-bottom: 10%;
}


#historySection section .text{
    text-align: justify;
    line-height: 150%;
}

/* PokedexSection */
section#pokedex{
    border: 2px solid rgb(216, 19, 19);
    background-color: white;
    padding: 5%;
    display: grid;
    grid-template-columns: 40% 50%;   
    column-gap: 10%;
}

section#pokedex img {
    width: 100%;
    height: auto;
}

section#pokedex h2{
    text-align: center;
    font-size: 200%;
    margin-bottom: 10%;
}

section#pokedex .btn{
    font-family: fantasy;
    font-size: 20px;
}
section#pokedex .btn:hover{
    border: solid 3px rgba(47, 47, 48, 0.55);
    background-color: rgb(230, 139, 139);
    color: white;
}

/*NewsSection*/
#newsSection{
    padding: 6%;
}

#newsSection header {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    justify-content: center;
    align-items: center;
}

#newsSection header.title{
    padding: 20px;
    font-family: monospace;
    text-align: center;
}

.newsCard{
    display: flex;
    flex-flow: column nowrap;
    overflow: none;
    
    border: 2px rgb(248, 51, 16) solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

    margin: 0 5%;
}

.newsCard > * {
    width: 100%;
}

.newsCard > div {
    margin-bottom: 4%;
    padding: 1% 4%;
}

.newsCard .title{
    font-size: 100%;
    text-align: left;

    padding: 0.5%;

    border: 3px rgba(209, 177, 177, 0) solid;
    background-color: rgb(124, 143, 226);
}

.newsCard .description{
    text-align: justify;
    text-indent: 15%;
    font-size: 90%;
}

button{
    border-radius: 9px;
    padding: 9px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;

    box-shadow: rgba(82, 90, 90, 0.233) 0px 0px 20px;
}